.header-items {
    display: flex;
    justify-content: center;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: #000;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent-color);
}

.logo-nav {
    display: flex;
}

.site-nav {
    display: flex;
    margin-right: 305px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
    display: block; 
}

.site-nav .link.current {
    color: var(--accent-color);
}

.link.current {
    display: block;
    position: relative;
}

.link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.contact-links {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact-links .item {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-items: center;
}

.contact-links .item + .item {
    margin-left: 30px;
}

.contact-links .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links .link:hover, 
.contact-links .link:focus {
    color: var(--accent-color);
}

.mail {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.phone {
    display: flex;
    margin-left: auto;
    align-items: center;
}

